# Proficiency Test

#### Farhan Sakif (farhan.sakif@gmail.com)

In [2]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [3]:
url = 'https://github.com/sakifff/Credit-card-data/blob/main/Recruiting%20Task%20Dataset.xlsx?raw=true'

df = pd.read_excel(url)

In [7]:
df.head()

,Appr?,CustomerID,Co Website,Processing Co,Issuing Bank,Amount,Attempt Timestamp
0,1,154838,14,203,BANK1000,500.0,2021-09-26 23:56:00
1,1,154587,14,190,BANK1017,100.0,2021-09-26 23:53:00
2,0,143623,23,204,BANK1013,90.0,2021-09-26 23:46:00
3,1,154435,23,103,BANK1139,25.0,2021-09-26 23:38:00
4,0,155195,18,109,BANK1016,60.0,2021-09-26 23:29:00

## 1. What is the dataset's approval rate by quarter?

In [8]:
# First separate the dataframe into fiscal quarters

q4_2020 = df.loc[(df['Attempt Timestamp'] >= '2020-10-01') & (df['Attempt Timestamp'] < '2021-01-01')]
q1_2021 = df.loc[(df['Attempt Timestamp'] >= '2021-01-01') & (df['Attempt Timestamp'] < '2021-04-01')]
q2_2021 = df.loc[(df['Attempt Timestamp'] >= '2021-04-01') & (df['Attempt Timestamp'] < '2021-07-01')]
q3_2021 = df.loc[(df['Attempt Timestamp'] >= '2021-07-01') & (df['Attempt Timestamp'] < '2021-10-01')]

# Then calculate how many times 1 appears in the approved columns and divide by the total number of rows

print("The deposit approval rate in Q4 2020 is: " + str(q4_2020['Appr?'].value_counts()[1] / len(q4_2020) * 100) + "%")
print("The deposit approval rate in Q1 2021 is: " + str(q1_2021['Appr?'].value_counts()[1] / len(q1_2021) * 100) + "%")
print("The deposit approval rate in Q2 2021 is: " + str(q2_2021['Appr?'].value_counts()[1] / len(q2_2021) * 100) + "%")
print("The deposit approval rate in Q3 2021 is: " + str(q3_2021['Appr?'].value_counts()[1] / len(q3_2021) * 100) + "%")

The deposit approval rate in Q4 2020 is: 62.85987890769801%
The deposit approval rate in Q1 2021 is: 61.48135359116023%
The deposit approval rate in Q2 2021 is: 60.33705932932072%
The deposit approval rate in Q3 2021 is: 59.422258768009726%

## 2. How many customers attempted a deposit of $50 in Sept 2021?

In [9]:
# Filter the dataframe for the month of September 2021 then filter again for how many people attempted a deposit of $50 

sep21 = df.loc[(df['Attempt Timestamp'] >= '2021-09-01') & (df['Attempt Timestamp'] < '2021-10-01') & (df['Amount'] == 50)]

print(str(len(sep21)) + " customers attempted a deposit of $50 in Sept 2021")

2170 customers attempted a deposit of $50 in Sept 2021

## 3. How much did the group identified in QUESTION 2 successfully deposit during the month?

In [10]:
print(str(sep21['Appr?'].value_counts()[1]) + " people successfully deposited $50 in September 2021")

print("Therefore 1359 * 50 = " + str(1359*50) + " was successfully deposited")

1359 people successfully deposited $50 in September 2021
Therefore 1359 * 50 = 67950 was successfully deposited

## 4. Of the 10 issuing banks with the most deposit attempts between 150.00 and 999.99 in 2021, which had the highest approval rate?

In [11]:
#First filter the dataframe into 2021 and deposits between 150 and 999.99

df_21 = df.loc[(df['Attempt Timestamp'] >= '2020-12-31') & (df['Attempt Timestamp'] < '2022-01-01') 
               & (df['Amount'] > 150.00) & (df['Amount'] < 999.99)]

# Make new dataframe for banks and how many deposits were made in 2021 in each bank and then filter the top 10 out

banks = pd.DataFrame(data=set(list(df_21['Issuing Bank'])), columns=['bank'])

deposit_attempts = []

for i in list(banks.bank):
    x = len(df_21.loc[df_21['Issuing Bank'] == i])
    deposit_attempts.append(x)
        
banks['deposits_attempted'] = deposit_attempts

banks = banks.sort_values('deposits_attempted', ascending=False)
top_10 = banks.head(10)
top_10

         bank  deposits_attempted
72   BANK1000                3654
257  BANK1002                2804
51   BANK1001                1846
175  BANK1004                 896
361  BANK1010                 667
426  BANK1013                 581
172  BANK1006                 389
17   BANK1019                 345
98   BANK1017                 293
341  BANK1003                 283

In [12]:
# Take the top ten banks and then calculate the deposit success rate

success_rate = []

for i in list(top_10.bank):
    bank_df = df_21.loc[df_21['Issuing Bank'] == i]
    x = bank_df['Appr?'].value_counts()[1] / len(bank_df)
    success_rate.append(x)
    
    
top_10['deposit_success_rate'] = success_rate

top_10

         bank  deposits_attempted  deposit_success_rate
72   BANK1000                3654              0.594691
257  BANK1002                2804              0.691512
51   BANK1001                1846              0.524377
175  BANK1004                 896              0.487723
361  BANK1010                 667              0.601199
426  BANK1013                 581              0.383821
172  BANK1006                 389              0.498715
17   BANK1019                 345              0.539130
98   BANK1017                 293              0.395904
341  BANK1003                 283              0.367491

#### It can be seen that BANK 1002 has the highest approval rates in 2021 for the banks with the top 10 most deposits

## 5. Without performing any analysis, which two parameters would you suspect of causing the successive quarterly decrease in approval rate? Why?

- I would suspect Processing Co to have an impact in causing the successive quarterly decrease because as mentioned, this also includes some fraud risk filters and if we were to assume those fraud risk filters have been improved over the quarters, the approval rates would decrease as more fraud attempts would be caught.

- The other factor I would suspect is Customer ID as it could be that fraud detection services caught certain depositors as fraud who came back in later quarters to try and deposit again but were declined. So it can be assumed that the number of people that tried to fraud the banks were detected and then turned down again in the future i.e as time passes more fraudulent attempts are detected.

## 6. Identify and describe two main causal factors of the decline in approval rates seen in Q3 2021 vs Q4 2020?

In [13]:
corr = df.corr()
corr

                  Appr?  CustomerID  Co Website  Processing Co    Amount
Appr?          1.000000   -0.259612   -0.097519      -0.075238 -0.081372
CustomerID    -0.259612    1.000000    0.181478       0.412258  0.002935
Co Website    -0.097519    0.181478    1.000000       0.079047 -0.066826
Processing Co -0.075238    0.412258    0.079047       1.000000 -0.054717
Amount        -0.081372    0.002935   -0.066826      -0.054717  1.000000

- The correlation chart shows that the Customer ID and Co Website variables are most strongly correlated to the Appr? column. However, the correlation coeffcients are not very strong.

In [24]:
from scipy.stats import linregress

In [35]:
print("AMOUNT: " + str(linregress(df['Appr?'], df['Amount'])))
print("CUSTOMER ID: " + str(linregress(df['Appr?'], df['CustomerID'])))
print("CO WEBSITE: " + str(linregress(df['Appr?'], df['Co Website'])))
print("PROCESSING CO: " + str(linregress(df['Appr?'], df['Processing Co'])))

AMOUNT: LinregressResult(slope=-38.20559801049232, intercept=159.5591652688906, rvalue=-0.08137160669805188, pvalue=2.0933819366779605e-181, stderr=1.3280263158779342)
CUSTOMER ID: LinregressResult(slope=-8478.682629874178, intercept=127949.66863390693, rvalue=-0.259612163260634, pvalue=0.0, stderr=89.50484830607982)
CO WEBSITE: LinregressResult(slope=-0.5781505062504221, intercept=16.03383653268725, rvalue=-0.09751858107377644, pvalue=5.323981213447057e-260, stderr=0.016744561122611103)
PROCESSING CO: LinregressResult(slope=-5.506182835668768, intercept=145.96808929200054, rvalue=-0.07523799568524463, pvalue=2.5987487271420768e-155, stderr=0.2070979776091174)

- As we can see from quick linear regression results, only the p-value for Customer ID is significant and can be argued that it plays the biggest role in the approval rate out of the factors. Co Website is the second biggest factor but since the p-value is not significant, it cannot be clearly determined.

- It is also worth noting that these are assumptions as it is impossible to accurately determine causation just from raw data without any additional knowledge as there is no way to know if some external variable plays a causative role in the observations.

## 7. Choose one of the main factors identified in QUESTION 6. How much of the approval rate decline seen in Q3 2021 vs Q4 2020 is explained by this factor?

- Looking at the correlation matrix and linear regression results from above, it can be argued that a big portion of the decline in approval rate can be explained by the Customer ID parameter of the dataset. This is in relation to the other parameters as shown by the correlation coefficients of each paramater. As Customer ID has the highest correlation coefficient, it can be argued that it is the biggest factor in affecting the approval rate.

## 8. If you had more time, which other analyses would you like to perform on this dataset to identify additional causal factors to those identified in QUESTION 6.

- If I had more time, I would look into A/B testing. The way causation is proved is through a specific experimental setting. So its the design of the experiment that allows collecting data susceptible to prove causation. So for this situation, we can try testing which column has the highest effect on the approval rates per quarter using a representative sample for each quarter. So we can divide up the dataset of each quarter and randomly split the group into two subsets. The first group is assigned a specific set of Issuing Banks (just for example) and the second group is allocated the issuing banks as normal. At the end of the experiment one can prove causation if and only if the second group shows a significantly different outcome compared to the control group.

- Furthermore given more time, Bayesian Structure Learning can be used to identify causation as well through directed acrylic graphs (DAGs). With structure learning we can determine the structure of the graph that best determines the causal dependencies between variables in the dataset.